# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs
/Three_Controllers/bin
/Three_Controllers/obj
Three_Controllers/Three_Controllers.csproj.user
/Three_Controllers/wwwroot
/Core_Three_Controllers/obj
/Core_Three_Controllers/bin
/R_Three_Controllers/obj
/R_Three_Controllers
/REST_Three_Controllers/bin
/REST_Three_Controllers/obj
